<app-header></app-header>
<div id="wrapper">
  
    <app-sidenav ></app-sidenav>

        <div id="content-wrapper">
    
          <div class="container-fluid">
    
            <router-outlet></router-outlet>
    

          </div>
          <!-- /.container-fluid -->
    
          <!-- Sticky Footer -->
          <footer class="sticky-footer">
            <div class="container-fluid my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright © BCX - ISP 2019</span>
              </div>
            </div>
          </footer>
    
        </div>
        <!-- /.content-wrapper -->
      </div>
      <!-- /#wrapper -->