<!-- Sidebar -->
<ul class="sidebar navbar-nav">
<li class="nav-item">
    <a class="nav-link active" routerLink="/admin">
    <i class="fa fa-home mr-2"></i>
    <span>Dashboard</span>
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link" routerLink="/admin/customer-add">
    <i class="fa fa-plus mr-2"></i>
    <span>Add Customer</span>
    </a>

</li>

<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-users mr-2"></i>
          <span>Clients <i class="fa fa-caret-down pull-right"></i></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown" >
           <a class="dropdown-item" routerLink="/admin/customers">All Customers</a>
           
          <div *ngIf="products">
            <a class="dropdown-item" routerLink="/admin" *ngFor="let product of products">{{product.name}}</a>
          </div>
          
          <!--
          <a class="dropdown-item" routerLink="/admin/customers">BCX DI</a>
          <a class="dropdown-item" routerLink="/admin/customers">TI-DIS</a>
          <div class="dropdown-divider" routerLink="/admin/customers"></div>
          <h6 class="dropdown-header" routerLink="/admin/customers">Broadband</h6>
          <a class="dropdown-item"  routerLink="/admin/customers">FTTB</a>
          <a class="dropdown-item"  routerLink="/admin/customers">FTTH</a> -->
        </div>
      </li>

<li class="nav-item">
    <a class="nav-link" routerLink="#">
    <i class="fa fa-cog mr-2"></i>
    <span>Settings</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" routerLink="#">
    <i class="fa fa-user mr-2"></i>
    <span>My Account</span></a>
</li>

<li class="nav-item">
  <a class="nav-link" routerLink="/register">
  <i class="fa fa-user-plus mr-2"></i>
  <span>Add Account</span></a>
</li>

</ul>